body{
    text-align: center;
}
.home{
    background-image: url(../images/bg10.jpg);
    background-size: cover;
    background-attachment: fixed;  
    width: 100%;
    height: 500px;  
    /* background-position-x: center; 
    background-position-y: 0;    */

    /* height: 400vh; */
}

.navbar{
    position: fixed;
    padding: 20px 10px;
    background-color: darkslategray;
    
}
a{
    padding: 0px 20px;
   
}
nav{
    padding: 0px 400px;
   
}
#index{
    font-weight: bolder;
}
#shop{
    color: wheat;
    font-weight: bolder;
}
#contacts{
    background-image: url(../images/contacts.jpg);
    height: 400px;
}
#img{
    float: left;
}
.col-6{
    border: 1px solid blue;
    background-color: blue;
    opacity: 0.7;
}
#about{
    background-color: transparent;
}
#order{
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0px 250px 0px 250px;
    color: wheat;
}
.hidden {
    display: none;
}
#contact{
    padding: 0px 200px 0px 200px;
}