body{
    background-image: url(../images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    /* position: fixed; */
    padding: 20px 10px;
    background-color: darkslategray;
    
}
a{
    padding: 0px 20px;
   
}
nav{
    padding: 0px 400px;
   
}
#index{
    font-weight: bolder;
}